.Projects {
	background: #4ca1af; /* fallback for old browsers */
	background: url("../../assets/projects_background.png") left top no-repeat,
		/* linear-gradient(to bottom, #33bbff, #3a7bd5); */
			linear-gradient(to top, #e96384 0%, #ffb199 100%);

	background-size: auto;
	padding: 30px;
	min-height: 100vh;
}

/* Notes Tooltip */
.Projects__notes {
	display: flex;
	justify-content: flex-end;
	font-family: "Titillium Web", cursive;
}

.Projects__notes__icon {
	font-size: 30px;
	color: #42486a;
	margin-right: 20px;
}

.Projects__notes__popupContent {
	padding: 10px;
	font-size: 0.9em;
}

.Projects__notes__popupContent div {
	font-weight: bold;
	margin-bottom: 5px;
}

/* Just a wrapper for all category cards */
.Projects__cards__wrapper {
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-around; */
	justify-content: flex-start;
	font-family: "Titillium Web", cursive;
	color: rgb(34, 34, 33);
}

/* .Projects__cards__wrapper::after {
	content: '';
	flex: auto;
} */

/* ---------------------------- Media Quieries ----------------------------*/

@media screen and (max-width: 736px) {
	/* Hiding Additional Info Popup in Mobile Resolution. */
	.Projects__notes {
		display: none;
	}
}
