.Projects {
  background: #4ca1af; /* fallback for old browsers */
  background: linear-gradient(to right, #c4e0e5, #4ca1af);
  padding: 30px;
  min-height: 100vh;
}

/* Just a wrapper for all category cards */
.Projects__cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "Titillium Web", cursive;
  color: rgb(34, 34, 33);
}
