.Skills {
  background: #f46b45; /* fallback for old browsers */
  background: url("../../assets/skills_background.png") right top no-repeat,
    linear-gradient(to bottom, #eea849, #f46b45);
  background-size: auto, auto;
  min-height: 100vh;
  padding: 30px;
}
/* Just a wrapper for all category cards */
.Skills__category__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Titillium Web", cursive;
  color: rgb(34, 34, 33);
}
/* Each category like "FrontEnd", "BackEnd", ... */
.Skills__category {
  flex: 1;
  flex-basis: 200px;
  margin: 20px;
  border-radius: 9px;
  box-shadow: 8px 7px 2px rgba(105, 105, 105, 0.541);
  background: url("../../assets/skill_card_background.png") right bottom
      no-repeat,
    #ffeacfc9;
  background-size: auto 200px;
}
/* Adding little padding to every direct div (Like "category__header", "category__content", .....) 
of "Skills__category". */
.Skills__category > div {
  padding: 10px;
}
.category__header {
  letter-spacing: 1px;
  font-size: 1.5rem;
  text-align: center;
  background: #2f4858;
  color: white;
  border-radius: 9px 9px 0 0;
  position: relative;
}
.category__header svg {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 25%;
}
/* Hold each skills cards for that category in here */
.category__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 0 0 9px 9px;
}
