.ProjectCard {
	flex: 1 1 450px;
	max-width: 1000px;
	box-shadow: 0 15px 10px -6px #777;
	border-radius: 8px;
	margin: 20px 20px;
	background: #e0e3e6;
	position: relative; /*As a reference for buttons*/
}

.ProjectCard-hidden {
	visibility: hidden;
}

.ProjectCard__image {
	/* To make hoovered content (.ProjectCard__Hoover) only get height of image size.  */
	position: relative;
}

/* Making image is reponsive */
.ProjectCard__image img {
	max-width: 100%;
	border-radius: 4px 4px 0 0;
	box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
		0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

/* Wrapper div of all labels */
.ProjectCard__labels {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	font-size: 1rem;
}

/* Styles for individual label */
.ProjectCard__labels > div {
	font-size: 11px;
	font-weight: bold;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: rgb(234, 234, 238);
	background: #394855;
	letter-spacing: 0.2px;
	margin: 0 5px 5px 0;
	padding: 5px 10px;
	border-radius: 4px;
	text-transform: uppercase;
}

.ProjectCard__heading {
	font-weight: bold;
}

.ProjectCard__description {
	text-indent: 20px;
	text-align: justify;
}

.ProjectCard__labels,
.ProjectCard__heading {
	padding: 10px 10px;
}

/* Container for Project Hover Content */
.ProjectCard__Hoover {
	display: none;
}

/* Only showing HooverSection when on hovered */
.ProjectCard:hover .ProjectCard__Hoover {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	flex-direction: column;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0 !important; /*Override default margin of each div in ProjectCard*/
	background: rgba(31, 28, 28, 0.92);
	border-radius: 4px 4px 0 0;
	justify-content: space-around;
	overflow: auto;
}

.ProjectCard__description {
	font-family: "Titillium Web", cursive;
	font-weight: 300;
	font-size: 1.02rem;
	line-height: 1.5rem;
	letter-spacing: 0.2px;
	text-align: justify;
	text-indent: 0;
	color: white;
	margin: 30px 40px 30px;
	border-radius: 4px 4px 8px 8px;
	padding: 20px;
}

.ProjectCard__buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Fjalla One", sans-serif;
	margin-bottom: 20px;
}

/* Individual buttons */
.ProjectCard__buttons a {
	border-radius: 4px;
	text-decoration: none;
	color: rgb(31, 28, 28);
	text-align: center;
	font-size: 1.25rem;
	padding: 7px 13px 6px 13px;
	margin: 5px;
	background: white;
	display: block;
}

.ProjectCard__buttons a:hover {
	background: #00d3ad;
	color: black;
	border-color: #00d3ad;
}

/* Buttons Icon */
.ProjectCard__buttons svg {
	padding-right: 8px;
	padding-bottom: 2px;
	font-size: 1.15rem;
}

.ProjectCard__buttons--disabled {
	background: gray !important;
	cursor: not-allowed;
	pointer-events: none;
}

/* ---------------------------- Media Quieries ----------------------------*/

@media screen and (max-width: 550px) {
	/* Making Project card don't overflow and mess up in lower resolutions.  */

	.ProjectCard__Hoover {
		overflow-y: auto;
		overflow-x: hidden;
		justify-content: start !important;
	}

	.ProjectCard__description {
		margin: 0px;
	}

	.ProjectCard__labels > div {
		font-size: 8px;
	}
}
