.Contact {
  background: #f46b45; /* fallback for old browsers */
  background: linear-gradient(to bottom, #eea849, #f46b45);
  min-height: 100vh;
  padding: 30px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Just a wrapper for all category cards */
.Contact__cards__wrapper {
  font-family: "Titillium Web", cursive;
  color: rgb(34, 34, 33);
  text-align: center;
}

.Contact__Icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

/* Each Contact Link & Icon */
.Contact a {
  color: rgb(252, 216, 209);
  font-size: 3rem;
  margin: 15px;
  flex: 0 1;
}

.Contact a:hover {
  color: rgb(140, 101, 245);
}
